<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <%= link_to 'Frog Beauty Blogs', root_path, class: "nav-link #{yield(:blog_active)}" %>
  <!-- <a class="navbar-brand" href="#">Makeup & Cosmetics</a> -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo02" aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarTogglerDemo02">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item active">
        <%= link_to 'Blog', blog_path, class: "nav-link #{yield(:blog_active)}" %>
        <!-- <a class="nav-link" href="#">Perfumn Collections <span class="sr-only">(current)</span></a> -->
      </li>
      <li class="nav-item">
        <!-- website.com/about -->
         <%= link_to 'About', about_path, class: "nav-link #{yield(:about_active)}" %>

        <!-- <a class="nav-link" href="#">Handbags & Accessories</a> -->
      </li>
      <li class="nav-item">
         <%= link_to 'Contact', contact_path, class: "nav-link #{yield(:contact_active)}" %>

        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </li>

            <li class="nav-item">
         <%= link_to 'My posts', authors_posts_path, class: "nav-link #{yield(:author)}" %>

        <!-- <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a> -->
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>